<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Création d'un article</h1>
        <form action="/submit" method="POST" enctype="multipart/form-data">
        <label>Titre <input type="text" name="titre" required></label><br><br>
        <label>Description <input type="text" name="description" required></label><br><br>
        <label>Auteur <input type="text" name="auteur" required></label><br><br>
        <label>Image <input type="file" name="fichier"></label><br><br>
        <button type="submit">Valider</button>
        </form>
  </body>
</html>
