<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Réponse</h1>
        <p>Nom: <%= nom %></p>
        <p>Email: <%= email %></p>
    
        <% if (fichier) { %>
        <p>Fichier:</p>
        <a href="/fichiers/<%= fichier %>" target="_blank"><%= fichier %></a>
        <% } else { %>
        <p>Aucun fichier envoyé.</p>
        <% } %>
    </body>
</html>