<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Formulaire</h1>
        <form action="/submit" method="POST" enctype="multipart/form-data">
        <label>Nom <input type="text" name="nom" required></label><br><br>
        <label>Email <input type="email" name="email" required></label><br><br>
        <label>Fichier <input type="file" name="fichier"></label><br><br>
        <button type="submit">Valider</button>
        </form>
  </body>
</html>
